<html>
    <head>
        <link rel="stylesheet" href="/static/css/map/map.css">
        <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" href="/static/leaflet/leaflet.css">
        <script src="/static/js/jquery/jquery.min.js"></script>
        <script src="/static/jquery-ui/jquery-ui.js"></script>
        <script>
            var points = {{points}}
        </script>
        <script src="/static/leaflet/leaflet.js"></script>
        <script src="/static/js/map/SliderControl.js"></script>
        <div id="mapdiv" style="width: 100%; height: 100%; background-color: black;"></div>
        <script src="/static/js/map/main.min.js"></script>
        <title> GW2 Map </title>
    </head>
    <body>
    </body>
</html>
